:root {
  --primary-light: #efede0;
  --primary-dark: #729384;
  --primary-medium: #98c2af;
  --secondary-dark: #546e62;
  --primary-accent: #dd9056;
  --primary-transition: all 1s ease-in;
  --textColor: "#44403c";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

image.png body {
  width: 100%;
  color: var(--textColor);
}
body::-webkit-outer-spin-button,
body::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.footerAttribute {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  align-items: center;
  justify-content: center;
}
.main-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-decoration: none;
}
.content-container {
  height: calc(100vh - 60px);
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr;
  position: relative;
  background-color: var(--primary-light);
}
.slider {
  position: relative;
  margin-inline: auto;
  height: 100%;
  width: 100%;
  margin-block: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-accent);
}
.modal-info {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 15px;
}
.menu-links {
  padding-top: 7px;
}
.slide {
  // margin-inline: auto;
  transition: all 1s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;

  &.before {
    left: 100%;
    z-index: -1;
    opacity: 0;
  }
  &.active {
    left: 0%;
    z-index: 1;
    opacity: 1;
  }
  &.after {
    left: -100%;
    z-index: -1;
    opacity: 0;
  }
}

.login-container {
  width: 100%;
  height: 100%;
  background-color: var(--primary-light);
}
.form-container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  height: 100%;
}
.myCartPrice-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-end;
}
.myCartPrice-logos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
}
.myCartPrice-price1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}
.myCartPrice-price2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}
.myCart-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}
.myCartPrice-total {
  width: 100%;
}
.myCartPrice-subtotal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
}
@media screen and(max-width:900px) {
  .content-container {
    height: calc(100vh - 58px);
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 8fr;
  }

  // .slide {
  //   top: 0%;
  //   transform: translateY(0%);
  // }
}

@media screen and(max-width:900px) {
  .login-container {
    height: 100%;
  }
  .loginForm {
    width: 100%;
    row-gap: 15px;
  }
  .footerAttribute {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0rem;
    row-gap: 0rem;
  }
  .form-container {
    row-gap: 10px;
  }
}

// ======================submenu==============
.priceContainer {
  padding: 10px;
  width: 100%;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.addToCart {
  color: var(--primary-dark);
  border: 0.5px solid var(--primary-dark);
  height: 25px;
  width: 75px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  overflow: hidden;
  transition: var(--primary-transition);
  &:hover {
    border: 0.5px solid var(--secondary-dark);
    color: var(--secondary-dark);
  }
}

.inputCart {
  border-block: 0.1px solid var(--primary-medium);
  height: 100%;
  width: 25px;
  text-align: center;
  border-inline: 0.5px solid var(--primary-dark);
  transition: var(--primary-transition);
  overflow: hidden;
  z-index: 2;
  &:hover {
    border: 0.5px solid var(--secondary-dark);
    color: var(--secondary-dark);
  }
}

.itemPrice {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.guest-loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

// ======================submenu==============

.checkout-address-title {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.checkout-price1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.success-order {
  position: absolute;
  width: 70%;
  transform: rotateZ(180deg);
  bottom: 5px;
  right: 5px;
}

.success-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  row-gap: 10px;
}
@media screen and(max-width:400px) {
  .menu-links {
  }
  .success-order {
    width: 100%;
  }
  .form-container {
    row-gap: 1px;
    max-width: 250px;
  }
}

.message-subtitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

.user-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
