:root {
  --primary-light: #ffac33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100%;
  color: white;
}
.footerAttribute {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.main-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-decoration: none;
}
.content-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr;
}
.slider {
  position: relative;
  height: calc(100% -20px);
  margin-inline: auto;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}
.slide {
  transition: all 1s ease-in;
  position: absolute;
  padding-block: 30px;
  width: 100%;

  &.before {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
  &.active {
    left: 0;
    opacity: 1;
    z-index: 1;
  }
  &.after {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }
}

.loginContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--primary-light);
}
.loginForm {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  row-gap: 20px;
}

@media screen and(max-width:900px) {
  .content-container {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 8fr;
  }
  .slider {
    // max-height: 50vh;

    width: 300px;
    max-width: 400px;
  }
  .slide {
    padding-block: 10px;
  }
  .loginContainer {
    padding: 15px;
  }
  .loginForm {
    max-width: 300px;
    row-gap: 8px;
  }
}
@media screen and(max-width:900px) {
  .content-container {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 8fr;
  }
  .slider {
    width: 300px;
    max-width: 400px;
  }
  .loginContainer {
    padding: 10px;
  }
  .loginForm {
    max-width: 250px;
    row-gap: 8px;
  }
  .footerAttribute {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0rem;
    row-gap: 0rem;
  }
}
