:root {
  --primary-light: #ffac33;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  color: white;
}

body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footerAttribute {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.main-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-decoration: none;
}

.content-container {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.slider {
  position: relative;
  min-height: calc(100% -10px);
  margin-inline: auto;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.menu-links {
  padding-top: 7px;
}

.slide {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  position: absolute;
  padding-block: 30px;
  width: 100%;
}

.slide.before {
  left: 100%;
  opacity: 0;
  z-index: -1;
}

.slide.active {
  left: 0;
  opacity: 1;
  z-index: 1;
}

.slide.after {
  left: -100%;
  opacity: 0;
  z-index: -1;
}

.loginContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--primary-light);
}

.loginForm {
  width: 100%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  row-gap: 20px;
}

.myCartPrice-logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.myCartPrice-price1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.myCartPrice-price2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media screen and (max-width: 900px) {
  .content-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 4fr 8fr;
        grid-template-rows: 4fr 8fr;
  }
  .slider {
    width: 300px;
    max-width: 400px;
  }
  .slide {
    padding-block: 10px;
  }
  .loginContainer {
    padding: 15px;
  }
  .loginForm {
    max-width: 300px;
    row-gap: 8px;
  }
}

@media screen and (max-width: 900px) {
  .content-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 4fr 8fr;
        grid-template-rows: 4fr 8fr;
  }
  .slider {
    width: 300px;
    max-width: 400px;
  }
  .loginContainer {
    padding: 10px;
  }
  .loginForm {
    max-width: 250px;
    row-gap: 8px;
  }
  .footerAttribute {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
    row-gap: 0rem;
  }
}

.priceContainer {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addToCart {
  border: 0.5px solid black;
  height: 25px;
  width: 75px;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  overflow: hidden;
}

.inputCart {
  border: none;
  height: 100%;
  width: 25px;
  text-align: center;
  border-inline: 0.5px solid black;
}

.itemPrice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=styles.css.map */