:root {
  --primary-light: #efede0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100%;
  color: #333343;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.footerAttribute {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.main-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-decoration: none;
}
.content-container {
  height: calc(100vh - 60px);
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr;
  position: relative;
  background-color: var(--primary-light);
}
.slider {
  position: relative;
  height: 100%;
  margin-inline: auto;
  width: 100%;
  margin-block: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-links {
  padding-top: 7px;
}
.slide {
  margin-inline: auto;
  transition: all 1s ease-in;
  position: absolute;
  padding: 30px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  &.before {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }
  &.active {
    left: 0;
    opacity: 1;
    z-index: 1;
  }
  &.after {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
}

.login-container {
  width: 100%;
  height: 100%;
  background-color: var(--primary-light);
}
.form-container {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}
.myCartPrice-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-end;
}
.myCartPrice-logos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
}
.myCartPrice-price1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}
.myCartPrice-price2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
}
.myCart-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}
.myCartPrice-total {
  width: 100%;
}
.myCartPrice-subtotal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
}
@media screen and(max-width:900px) {
  .content-container {
    height: calc(100vh - 58px);
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 8fr;
  }
  .slider {
    max-width: 300px;
  }
  .slide {
    top: 0%;
    transform: translateY(0%);
  }
}

@media screen and(max-width:900px) {
  .login-container {
    height: 100%;
  }
  .loginForm {
    width: 100%;
    row-gap: 5px;
  }
  .footerAttribute {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0rem;
    row-gap: 0rem;
  }
  .form-container {
    row-gap: 10px;
  }
}

// ======================submenu==============
.priceContainer {
  padding: 10px;
  width: 100%;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.addToCart {
  border: 0.5px solid black;
  height: 25px;
  width: 75px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  overflow: hidden;
}
.inputCart {
  border: none;
  height: 100%;
  width: 25px;
  text-align: center;
  border-inline: 0.5px solid black;
}
.itemPrice {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.guest-loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

// ======================submenu==============

.checkout-address-title {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.checkout-price1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.success-order {
  position: absolute;
  width: 70%;
  transform: rotateZ(180deg);
  bottom: 5px;
  right: 5px;
}

.success-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  row-gap: 10px;
}
@media screen and(max-width:400px) {
  .success-order {
    width: 100%;
  }
  .form-container {
    row-gap: 1px;
  }
}

.message-subtitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

.user-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
